body{
	background-color: #FDFBFF


}

body {
    margin: 0;   
    padding: 0;         /* Reset default margin */
}
iframe {

	margin: 2% 2%;
	
    display: block;       
   
    border: none;         
    height: 48vw;         
    width: 100vw;
    width:96%;
    background: #FDFBFF;
	
	border-radius: 10px;

}

.main{
	;
	height: 100%;

}

.margin{
	margin: 3%;
	
	
}




.border{
	border-radius: 10px;
}
.user h4 span p{
	font-size: 15px;
	color: #C3C8CC;
}
.user h4{
	font-size: 20px;

}

.user .initials{
	border-radius: 50%;
	background-color: #07B077;
	font-size: 20px;
	float: left;
	margin-right: 10px;
	padding: 2%;
	color: white;
	text-align: center;
}

.user .add{
	float: right;
	margin:0 8px;
	padding:0 8px;
	height: auto;

}

.user{
	margin-top: 4%;
	padding: 4%;
}

/*.sidebar a  span{
	text-align: left;
}*/

/*i{
	
	position: relative;
	left: -39px;
}*/


/*header*/







/*sidebar*/
.sidebar{
	/* margin-top: 70px;
  padding-top: 30px;*/
	background-color:white;
	font-family: "Ubuntu";
	
	position: fixed;
	left: 0;
	
	width: 280px;
	height: 100%;
	padding-left: 1%;
}

.sidebar a{
	
	color:black;
	display: block;
	width: 100%;
	line-height: 40px;
	text-decoration: none;
	padding-left: 40px;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
	border-radius: 10px;
}

.sidebar p{
	color:#C6CBCF;
}

.sidebar i{
	padding-right: 10px;
	
}


.sidebar a:hover{
	background: #07B077;
	color:white;

}



.sidebar a span{
	

}

.sidebar-footer{
	/*position: relative;
	bottom: -55px;*/
}

.sidebar-footer i{
	border-radius: 60%;
	background-color: #07B077;
	font-size: 20px;
	float: left;
	margin-right: 10px;
	
	color: white;
	text-align: center;
	padding: 4%;
}

.sidebar-footer button {
	position: relative;
	bottom: -8px;
}
.active{
	
	background-color: #07B077;

}



label #sidebar_btn{
  z-index: 1;
  color: black;
  position: fixed;
  cursor: pointer;
  top: 25px;
  left: 20px;
  
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #07B077;
}

#check:checked ~ .sidebar{
  left: -215px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar button{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content{
  margin-left: 280px; 
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 100px;
}

#check{
  display: none;
}

label{
	position: fixed;
	z-index: 1;
	
	margin: 0;
	padding: 0;
}

.top-board{
	font-family: "Montserrat";
	position: relative;
	top: 30px;
	background-color: white;
	margin:0 1.5%;

	border-radius: 25px;
}

.top-board .card{
	border-radius: 25px;
	border-style: none;
	border-right-style: inset;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-right-width: 2px;
	height: 100%;
	border-width: 5px;
	
}

.card-body i, .chart i{
	transform: rotate(35deg);
}

.last-card{
	border-style: none;
}

.card-body p, .chart p{
	color:#C5C9CF;
	margin-bottom: 2px;
}

.green i, .green .value, .chart .value{
	color: #07AF77;
}

.red i, .red .value{
	color: #F8B0AC;
}



.vl{
	 border-left: 2px solid grey;
	 height:10px;

}

/*
label{
	display: none;
}*/


/*
chart*/

.comtent{
	font-family: "Montserrat";
}

.chart{
	font-family: "Montserrat";
	position: relative;
	top: 50px;
	background-color: white;
	margin:0 1.5%;
	border-radius: 20px;
	width: 850px;
	border-style: none;
}

.chart p{
	margin-bottom: 2px;
}

.headline{
	position: relative;
	left: 25px;
	top: 20px;
}

.chart .card-body{
	padding:0%;
	margin: 0;
}


#gauge2{
	font-family: "Montserrat";
	background: white;
	border-radius: 20px;
	border-style: none;
	float: right;
	position: relative;
	top: -400px;
	left: -30px;
	width: 25%;
}

#gauge2 p{
	padding: 2%;
	margin:  0 5%;
	color:#C5C9CF;
	font-size: 1.5rem;
	
}

.gauge-emoji{
	position: relative;
	z-index: 1;
	float: right;
	text-align: right;

	right:   -145px;
	top: -410px;


	color: #07B077;
}

.blogs{
	font-family: "Montserrat";
	color: white;

	background: #07B077;
	border-radius: 20px;
	border-style: none;
	float: right;
	position: relative;
	bottom:  150px;
	right:   -250px;
	width: 25%;
}

.blog-link{
	text-decoration: none;
	color: white;
}

.blog-link:hover{
	color: grey;
}

.blog-add{
	color: white;
	background: #46C79A;
	
	float: right;
	padding: 1%;
	border-radius: 10px;
}

.blog-add:hover{
	background: #A7C5C1;
}

h6
{
	color: #A7C5C1;
}

.end-section{
	font-family: "Montserrat";
	position: relative;
	top: 70px;
	background-color: white;
	margin:0 1.5%;
	border-radius: 20px;
	width: 700px;
	border-style: none;
}

img{
	margin: 0 auto;

	
	width: 80%;
}

#decoration{
	text-decoration: none;
	color: white;

}

#decoration:hover{
	color: grey;
}






